/* 
Slate 50:  #F8FAFC
Slate 100: #F1F5F9
Slate 200: #E2E8F0
Slate 300: #CBD5E1
Slate 400: #94A3B8
Slate 500: #64748B
Slate 600: #475569
Slate 700: #334155
Slate 800: #1E293B
Slate 900: #0F172A 

Texto Principal: Usa Slate 200 o 300.
Fondo de Página: Slate 800 o 900.
Sidebar: Slate 700 o 800.
Botones: Slate 500 o 600, con hover en Slate 400.
Detalles o Divisores: Slate 300 o 400.
*/


/* Option Menu Styles */
/* .stSelectbox {
    font-weight: 400;
} */

/* .nav-link[data-v-5af006b8] {
    background-color: blue;
    font-size: 20px;
    font-weight: 700 !important
} */

.stMain {
    background-color: #CBD5E1; /* Slate 50 */
    color: #1E293B; /* Slate 800 */
}

.stSidebarUserContent {
    background-color: #334155; /* Slate 700 */
    color: #E2E8F0; /* Slate 200 */
}

.menu .nav-item .nav-link[data-v-5af006b8] {
    background-color: #334155 !important; /* Slate 700 */
    color: #E2E8F0 !important; /* Slate 200 */
    font-size: 16px;
    font-weight: 400 !important;
}

.nav-link.active {
    font-weight: 600 !important;
}

.nav-link:hover {
    font-weight: 500 !important;
}

/* #MainMenu {
    font-weight: 400;
} */
